.main-container{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;
    min-height: 100vh;
}
@media all and (max-width: 768px){
    .main-container{
        grid-template-columns: 1fr;
    }
}